/Task3/tech_radar/.techradar
/Task3/tech_radar/build
Task4/.terraform.lock.hcl
/Task4/.terraform
Task4/terraform.tfstate
Task4/terraform.exe
Task4/terraform.tfstate.backup
Task3/tech_radar/node_modules/.bin/techradar.cmd
Task3/tech_radar/node_modules/.bin/techradar.ps1
Task3/tech_radar/node_modules/.package-lock.json
Task3/tech_radar/node_modules/aoe_technology_radar/.eslintrc.json
Task3/tech_radar/node_modules/aoe_technology_radar/.github/workflows/main.yml
Task3/tech_radar/node_modules/aoe_technology_radar/.github/workflows/semanticore.yml
Task3/tech_radar/node_modules/aoe_technology_radar/.husky/commit-msg
Task3/tech_radar/node_modules/aoe_technology_radar/.husky/pre-commit
Task3/tech_radar/node_modules/aoe_technology_radar/.prettierignore
Task3/tech_radar/node_modules/aoe_technology_radar/.prettierrc
Task3/tech_radar/node_modules/aoe_technology_radar/bin/techradar.js
Task3/tech_radar/node_modules/aoe_technology_radar/CHANGELOG.md
Task3/tech_radar/node_modules/aoe_technology_radar/commitlint.config.js
Task3/tech_radar/node_modules/aoe_technology_radar/data/about.md
Task3/tech_radar/node_modules/aoe_technology_radar/data/config.default.json
Task3/tech_radar/node_modules/aoe_technology_radar/data/config.json
Task3/tech_radar/node_modules/aoe_technology_radar/data/radar/2017-03-01/demo-1.md
Task3/tech_radar/node_modules/aoe_technology_radar/data/radar/2017-03-01/demo-2.md
Task3/tech_radar/node_modules/aoe_technology_radar/data/radar/2017-03-01/demo-3.md
Task3/tech_radar/node_modules/aoe_technology_radar/data/radar/2017-03-01/demo-4.md
Task3/tech_radar/node_modules/aoe_technology_radar/data/radar/2024-03-01/demo-2.md
Task3/tech_radar/node_modules/aoe_technology_radar/data/radar/2024-03-01/demo-4.md
Task3/tech_radar/node_modules/aoe_technology_radar/docs/assets/screenshot-techradar.png
Task3/tech_radar/node_modules/aoe_technology_radar/LICENSE
Task3/tech_radar/node_modules/aoe_technology_radar/next.config.js
Task3/tech_radar/node_modules/aoe_technology_radar/package.json
Task3/tech_radar/node_modules/aoe_technology_radar/postcss.config.js
Task3/tech_radar/node_modules/aoe_technology_radar/public/favicon.ico
Task3/tech_radar/node_modules/aoe_technology_radar/public/logo.svg
Task3/tech_radar/node_modules/aoe_technology_radar/README.md
Task3/tech_radar/node_modules/aoe_technology_radar/renovate.json
Task3/tech_radar/node_modules/aoe_technology_radar/scripts/buildData.ts
Task3/tech_radar/node_modules/aoe_technology_radar/scripts/positioner.ts
Task3/tech_radar/node_modules/aoe_technology_radar/src/app/sitemap.ts
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Badge/Badge.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Badge/Badge.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Dialog/Dialog.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Dialog/Dialog.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Filter/Filter.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Filter/Filter.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Filter/QueryFilter.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Filter/QueryFilter.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Filter/RingFilter.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Filter/RingFilter.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Footer/Footer.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Footer/Footer.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Attention.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Back.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/BlipChanged.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/BlipDefault.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/BlipNew.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Close.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Edit.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Filter.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/index.ts
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Overview.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Pie.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Question.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Search.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/SocialFacebook.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/SocialGithub.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/SocialGitlab.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/SocialInstagram.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/SocialLinkedin.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/SocialX.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/SocialXing.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/SocialYoutube.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Icons/Tag.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/ItemDetail/ItemDetail.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/ItemDetail/ItemDetail.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/ItemList/ItemList.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/ItemList/ItemList.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Layout/Layout.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Layout/Layout.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Logo/Logo.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Logo/Logo.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Navigation/Navigation.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Navigation/Navigation.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/QuadrantLink/QuadrantLink.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/QuadrantLink/QuadrantLink.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/QuadrantList/QuadrantList.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/QuadrantList/QuadrantList.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Radar/Blip.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Radar/Chart.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Radar/Chart.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Radar/Label.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Radar/Label.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Radar/Legend.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Radar/Legend.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Radar/Radar.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Radar/Radar.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/RingList/RingList.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/RingList/RingList.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/SocialLinks/SocialLinks.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/SocialLinks/SocialLinks.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Tags/Tags.module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/components/Tags/Tags.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/attention.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/back.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/blip_changed.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/blip_default.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/blip_new.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/close.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/edit.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/filter.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/overview.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/pie.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/question.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/search.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/social-facebook.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/social-github.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/social-gitlab.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/social-instagram.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/social-linkedin.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/social-x.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/social-xing.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/social-youtube.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/icons/tag.svg
Task3/tech_radar/node_modules/aoe_technology_radar/src/lib/config.ts
Task3/tech_radar/node_modules/aoe_technology_radar/src/lib/data.ts
Task3/tech_radar/node_modules/aoe_technology_radar/src/lib/format.ts
Task3/tech_radar/node_modules/aoe_technology_radar/src/lib/types.ts
Task3/tech_radar/node_modules/aoe_technology_radar/src/lib/utils.ts
Task3/tech_radar/node_modules/aoe_technology_radar/src/pages/404.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/pages/\[quadrant\]/\[id\].module.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/pages/\[quadrant\]/\[id\].tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/pages/\[quadrant\]/index.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/pages/_app.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/pages/_document.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/pages/help-and-about-tech-radar.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/pages/index.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/pages/overview.tsx
Task3/tech_radar/node_modules/aoe_technology_radar/src/styles/_globals.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/styles/_hljs.css
Task3/tech_radar/node_modules/aoe_technology_radar/src/styles/custom.css
Task3/tech_radar/node_modules/aoe_technology_radar/tsconfig.json
Task4/terraform.tfvars.my
